<div class="ft3">
  <div class="row align-items-start">
    <div class="col-12">
      <h4>Trending People</h4>
    </div>
  </div>
  <div class="row ft-row ft_actor">
    <div class="col-sm-3 img_wrap">
        <img src="http://image.tmdb.org/t/p/w154<%= @trending_actor[0]["profile_path"] %>"/>
        <span class="title"><%= @trending_actor[0]['name'] %></span>
    </div>
    <div class="col-sm-3 img_wrap">
        <img src="http://image.tmdb.org/t/p/w154<%= @trending_actor[1]["profile_path"] %>"/>
        <span class="title"><%= @trending_actor[1]['name'] %></span>
    </div>
    <div class="col-sm-3 img_wrap">
        <img src="http://image.tmdb.org/t/p/w154<%= @trending_actor[2]["profile_path"] %>"/>
        <span class="title"><%= @trending_actor[2]['name'] %></span>
    </div>
    <div class="col-sm-3 img_wrap">
      <img src="http://image.tmdb.org/t/p/w154<%= @trending_actor[3]["profile_path"] %>"/>
      <span class="title"><%= @trending_actor[3]['name'] %></span>

    </div>
  </div>
</div>
