<header class="header row">
  <div class="col-md-2">
    <%= image_tag( "logo.png", :alt => "discover more!" )%>
    <h3>Discovery</h3>
  </div>
  <div class="col-md-7 offset-md-3 right">

<!-- Search Bar -->
    <!-- html -->
    <!-- <input type="text" placeholder="Search.."> -->
    <div class="">
      <%= form_with url: "/search", method: :get do %>

        <div class="form-group">
          <%= label_tag :search, ("Search for any Movie, TV Show, or Actor") %>
          <%= text_field_tag :search %>
        </div>

        <%= submit_tag 'Search', :name => nil, class: 'btn btn-search' %>

      <% end %>

    </div>

  </div>
</header>
