<div class="ft1">
  <div class="row align-items-start">
    <div class="col-12">
      <h4>People Trending | This Week </h4>
    </div>
  </div>
  <div class="row ft-row ft_actor">
    <div class="col-sm-3 img_wrap">
      <a href="https://www.themoviedb.org/person/<%= @trending_people[0]["id"] %>">
        <img src="http://image.tmdb.org/t/p/w154<%= @trending_people[0]["profile_path"] %>" alt="" />
        <span class="title_cover">
          <%= @trending_people[0]['name'] %>
          <span class="italic">Known For:<br><%= @trending_people[0]['known_for'][0]['title'] %></span>
        </span>
      </a>
    </div>
    <div class="col-sm-3 img_wrap">
      <a href="https://www.themoviedb.org/person/<%= @trending_people[1]["id"] %>">
        <img src="http://image.tmdb.org/t/p/w154<%= @trending_people[1]["profile_path"] %>" alt=""/>
        <span class="title_cover">
          <%= @trending_people[1]['name'] %>
          <span class="italic">Known For:<br><%= @trending_people[1]['known_for'][0]['title'] %></span>
        </span>
        <span class="biography">

        </span>
      </a>

    </div>
    <div class="col-sm-3 img_wrap">
      <a href="https://www.themoviedb.org/person/<%= @trending_people[2]["id"] %>">
        <img src="http://image.tmdb.org/t/p/w154<%= @trending_people[2]["profile_path"] %>" alt="" />
        <span class="title_cover">
          <%= @trending_people[2]['name'] %>
          <span class="italic">Known For:<br><%= @trending_people[2]['known_for'][0]['title'] %></span>
        </span>
        <span class="biography">

        </span>
      </a>
    </div>
    <div class="col-sm-3 img_wrap">
      <a href="https://www.themoviedb.org/person/<%= @trending_people[3]["id"] %>">
        <img src="http://image.tmdb.org/t/p/w154<%= @trending_people[3]["profile_path"] %>" alt="" />
        <span class="title_cover">
          <%= @trending_people[3]['name'] %>
          <span class="italic">Known For:<br><%= @trending_people[3]['known_for'][0]['title'] %></span>
        </span>
        <span class="biography">

        </span>
      </a>

    </div>
  </div>
</div>
