<div class="row align-items-start">
  <div class="col-12">
    <h4>Top Rated TV Shows</h4>
  </div>
</div>
<div class="row ft-row TR_tv_show">
  <div class="col-sm-3 img_wrap">
    <img src="http://image.tmdb.org/t/p/w154<%= @TR_tv_shows[0]["poster_path"] %>"/>
    <span class="title"><%= @TR_tv_shows[0]['name'] %></span>
  </div>
  <div class="col-sm-3 img_wrap">
    <img src="http://image.tmdb.org/t/p/w154<%= @TR_tv_shows[1]["poster_path"] %>"/>
    <span class="title"><%= @TR_tv_shows[1]['name'] %></span>
  </div>
  <div class="col-sm-3 img_wrap">
    <img src="http://image.tmdb.org/t/p/w154<%= @TR_tv_shows[2]["poster_path"] %>"/>
    <span class="title"><%= @TR_tv_shows[2]['name'] %></span>
  </div>
  <div class="col-sm-3 img_wrap">
    <img src="http://image.tmdb.org/t/p/w154<%= @TR_tv_shows[3]["poster_path"] %>"/>
    <span class="title"><%= @TR_tv_shows[3]['name'] %></span>
  </div>
</div>
