<div class="ft2 tv_show_air_today">
    <div class="row align-items-start">
      <div class="col-12">
        <h4>TV Shows | <span class="fun_colour">Airing Today</span></h4>
      </div>
    </div>
    <div class="row ft-row">
      <div class="col-sm-3 img_wrap">
        <img src="http://image.tmdb.org/t/p/w154<%= @tv_show_air_today[0]["poster_path"] %>"/>
        <span class="title"><%= @tv_show_air_today[0]['name'] %></span>
      </div>
      <div class="col-sm-3 img_wrap">
        <img src="http://image.tmdb.org/t/p/w154<%= @tv_show_air_today[1]["poster_path"] %>"/>
        <span class="title"><%= @tv_show_air_today[1]['name'] %></span>
      </div>
      <div class="col-sm-3 img_wrap">
        <img src="http://image.tmdb.org/t/p/w154<%= @tv_show_air_today[2]["poster_path"] %>"/>
        <span class="title"><%= @tv_show_air_today[2]['name'] %></span>
      </div>
      <div class="col-sm-3 img_wrap">
        <img src="http://image.tmdb.org/t/p/w154<%= @tv_show_air_today[3]["poster_path"] %>"/>
        <span class="title"><%= @tv_show_air_today[3]['name'] %></span>
      </div>
    </div>
  </div>
