<div class="container">

  <!-- Section: Header -->
  <%= render "header" %>

  <!-- Section: Title/Hero -->
  <%= render "heading_hero" %>

  <!-- Section: Latest: TV Shows -->
  <%= render "tvshows_airing" %>

  <!-- Section: Actors -->
  <%= render "trending_people" %>

  <!-- Section: Movies -->
  <%= render "movies_popular" %>

  <!-- Section: Popular: TV Shows -->
  <%= render "tvshows_popular" %>

  <!-- Section: Footer -->
  <%= render "footer" %>






</div>
