<div class="container">

  <!-- Section: Header -->
  <%= render "header" %>

  <!-- Section: Title/Hero -->
  <%= render "heading" %>

  <!-- Section: Latest: TV Shows -->
  <%= render "tvshows_airing_today" %>

  <!-- Section: Popular: TV Shows -->
  <%= render "tvshows_popular" %>

  <!-- Section: Movies -->
  <%= render "movies" %>

  <!-- Section: Actors -->
  <%= render "actors" %>


</div>
