<div class="container">

  <!-- Section: Header -->
  <%= render "header" %>

  <!-- Section: Title/Hero -->
  <%= render "heading" %>

  <!-- Section: Movies -->
  <%= render "movies" %>

  <!-- Section: TV Shows -->
  <%= render "tvshows" %>

  <!-- Section: Actors -->
  <%= render "actors" %>

</div>
