<div class="container">

  <!-- Section: Header -->
  <%= render "header" %>

  <!-- Section: Title/Hero -->
  <%= render "heading_hero" %>

  <!-- Section: Airing Today: TV Shows -->
  <%= render "tvshows_airing" %>

  <!-- Section: People Trending -->
  <%= render "trending_people" %>

  <!-- Section: Popular Movies -->
  <%= render "movies_popular" %>

  <!-- Section: Popular TV Shows -->
  <%= render "tvshows_popular" %>

  <!-- Section: Footer -->
  <%= render "footer" %>






</div>
